.ant-table-cell{
    word-break: break-all;
}

#title{
    width: 100%;
}

#title_input{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 10px;
    padding: 8px 35px 9px 11px;
}

.board_insert_finance_list{
    font-size: 12px;
}

.board_insert_wrap{
    margin: 15px;
}

.board_insert_wrap .board_insert_button_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.board_insert_finance_list .MuiInput-underline:after{
    border-bottom-color: #ec6a17;
}

.board_insert_finance_list .MuiSvgIcon-root{
    font-size: 17px !important;
}

.board_insert_finance_list .MuiTypography-body1{
    font-size: 13px;
}

.board_insert_finance_list .MuiCheckbox-colorSecondary.Mui-checked{
    color: #ec6a17;
}

iframe{
    max-width: 100%;
}
p{
    word-break: break-all;
    margin: 0px;
}