#root{
    --main_color: rgb(236, 106, 23);
}

.board_search_wrap{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 7px 0 7px;
    
}

.board_temp_wrap{
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 60px;
    text-align: left;
    border-bottom: 1px solid #dbdbdb;
}

.board_temp_wrap .board_num{
    width: 14.2%;
    text-align: center;
    margin: auto;
}

.board_temp_wrap .board_main{
    width: 60.8%;
}

.board_temp_wrap .board_like{
    width: 25%;
    font-size: 12px;
    padding-right: 10px;
    align-self: center;
    color: #444444;
}

.board_temp_wrap .board_main .board_fin_name{
    color: rgb(236, 106, 23);
    font-weight: 500;
}

.board_temp_wrap .board_title{
    font-weight: 620;
    font-size: 17px;
    padding-bottom: 0px;
    color: #444444;
    line-height: 1.2em;
    top: 110%;
    overflow-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
}


.board_temp_wrap .board_title .board_comment_count{
    float: right;
    margin-top: 6px;
}

.board_temp_wrap .board_info{
    overflow: hidden;
    font-size: 12px;
    padding: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}


.board_info{
    list-style: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #888888;
    overflow: hidden;
}
.board_info li{
    float: left;
    margin-right: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#red{
    color: red;
}